body, html {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-family:'sans-serif', Lacquer ;
  display: flex;
  justify-content: center;
  align-items: center;

}

body{
  background-color: rgb(249, 239, 201);

}
.container{
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 6px 9px 12px 7px rgba(255,213,74,0.31);
}
span{
  padding: 15px;
  border-left: 3px solid #F1F1F1;
}
.item{
  display: flex;
  align-items: center;
  border-bottom: 3px solid #F1F1F1;
}
.item:last-child{
  border-bottom: 0;
}

input{
  margin: 20px;
  
}

input:checked + span {
  text-decoration: line-through;
}