body, html {
  width: 100%;
  height: 100%;
  margin: 0;

}

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items:center;
}

.text{
  font-size: 10em;
  color:#032CA6;
  font-weight: 900;
  /* font-family: 'Lacquer', sans-serif; */
  /* font-family: 'Cedarville Cursive', cursive; */
font-family: 'Gloria Hallelujah', cursive;
}

.text::after{
  content:"\1F47E";
  
}